<header>
<div class="biothingslink">
    More API's at:
    <a href="biothings.io" title="biothings">
    <img class="default" src="/assets/images/biothings-link.png"> </img>
    <img class="hover" src="/assets/images/biothings-link-on.png"> </img>
    </a>
</div>
</header>