    <div class="rslides_container">
      <ul class="rslides" id="learnmore_slider">

    <li><div class="slide_box">
    <div class="main__banner">
    <h1>{{@blog.title}}</h1>
    <h2>{{@blog.description}}</h2>
    <p id="button-wrap-inner">
        <a id="learnmore__btn_id", class="learnmore__btn" href="//speakerdeck.com/player/1274175027cb0132ab8f668b8ed88715">Learn more</a>
        &nbsp;&nbsp;or&nbsp;&nbsp;<a id="try_api_btn_id", class="learnmore__btn" href="http://mygene.info/v3/api">Try live API now</a>
    </p>
    <p id="metadata_timestamp"></p>
    <p id="api_stats"></p>
    </div>
    </div></li>

<!--        <li><object type="image/svg+xml" data="{{asset "images/MyGene.info_LearnMore_1.svg"}}" alt="learnmore_1">Please use a modern browser!</object></li> -->

    </ul>
   </div>

