{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Index</a>
		<a href="/about" class="menu__item">About</a>
                <a href="http://mygene.info/v2/api" class="menu__item">Try live API</a>
                <a href="http://docs.mygene.info" class="menu__item">Docs</a>
                <a href="http://twitter.com/mygeneinfo" class="menu__item">Twitter</a>
                <a href="/faq" class="menu__item">FAQ</a>
	</div>
</nav>