<nav class="pagination">
    <div class="pagination__wrap">
       <a class="pagination__item pagination__item--link pagination__item--older" id="older">Older posts</a>
           <span class="pagination__item pagination__item--counter" id="page">Page</span>
        <a class="pagination__item pagination__item--link pagination__item--newer" id="newer">Newer posts</a>
    </div>
</nav>

