{{!< default}}

{{! The main content area on the homepage }}
<main role="main" class="{{#if @blog.cover}} custom-bg{{else}} default-bg{{/if}}"{{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="main__wrapper">
    {{#if @blog.navigation}}
    	{{navigation}}
    {{/if}}

    {{> main_slider}}

        <div class="whatsnew__div">What's new:</div>
        <div id="news"></div>
        </div>

    </div>
    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
    <div class="search-wrapper">
        <div id="search-box">
        <form method="get" action="/search" id="search">
          <input id="search-field" name="q" type="text" size="40" placeholder="Search posts..." />
        </form>
        </div>
        <section id="search-results"></section>
    </div>
</main>