@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400,700);


/*-------------------------------------
Site-specific templates--Sister site link
--------------------------------------*/
.biothingslink {
    color: #fff;
    margin-top: -55px;
    margin-right: 10px;
    float: right;
    text-align: right;
    width: 200px;
    height: 30px;
    transition: 0.5s;}
  .biothingslink img {
    display: inline-block;
    width: 120px;
    border-style: hidden; }
  .biothingslink img.default {
    display: inline-block;
    width: 120px;
    border-style: hidden; }
  .biothingslink img.hover {
    display: none;
    width: 120px;
    border-style: hidden; }
  .biothingslink :hover img.hover {
    display: inline-block;
    width: 120px;
    border-style: hidden; }
  .biothingslink :hover img.default {
    display: none;
    width: 120px;
    border-style: hidden; }



/*---------------------------------
Site-specific templates--Custom pages
----------------------------------*/

.page__wrapper {
	float: left;
    max-height: 1500px;
	padding: 18px 10px;
	-webkit-perspective: 500;
	-moz-perspective: 500;
	-ms-perspective: 500;
	perspective: 500;
}

.page__wrapper--specialsubpage {
	background-color: Transparent;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	margin: 0 auto;
	max-width: 1000px;
    height: 600px;
}

button#expand_frame {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,0.8),rgba(255,255,255,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,255,255,0.8),rgba(255,255,255,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(255,255,255,0.8),rgba(255,255,255,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1)); /*Standard*/
    border:none;
    width:100%;
    height:70px;
    border: none;
    padding: none;
    text-align:center;
    font-size:20px;
    text-shadow: 0 0 3px #FD7400;
}


.page__wrapper--demopg {
	background: #fff;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	margin: 0 auto;
	max-width: 1000px;
    height: 1200px;
    
}

.page__wrapper--apistatus {
	background: transparent;
	margin: 0 auto;
	max-width: 1000px;  
}

.page__wrapper--framefollow {
	margin: 0 auto;
	max-width: 1000px;
    height: 50px;
    margin-top:-20px;
    text-align:center;
}


.post__wrapper--subpage {
	width: 1000px; !important
}


/*---------------------------------
Main site
----------------------------------*/

.main__banner{
}

.main__banner h1{
    font-size: 60px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.main__banner h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    margin: 0px 0px 20px 0px;
}

.main__banner h3 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}

.main__banner .example_box {
    /*margin-left: 300px;*/
    margin-left: 25%;
    margin-top: 30px;
    font-size: 18px;
    text-align: left;
}

.main__banner .example_box a{
    text-decoration: underline;
}

.spacer1{
    height: 100px;
}

@media (max-width: 900px) {
    .main__banner h1{
        font-size: 40px;
    }
    .main__banner h2{
        font-size: 30px;
    }
    .main__banner h3{
        font-size: 20px;
    }
    .main__banner .example_box {
        /*margin-left: 100px;*/
        font-size: 14px;
    }
    .spacer1{
        height: 50px;
    }
}
@media (max-width: 700px) {
    .main__banner .example_box {
        margin-left: 30px;
        font-size: 12px;
    }
    .header__link span{
        font-size: 0.8em;
    }
}

.bigger {
    font-size: 120%;
}
.gray {
    color:rgb(102, 102, 102);
}
.red {
    color: red;
}

.whatsnew__div {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
}

/*button css from http://css3buttongenerator.com/ */
#button-wrap-inner {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.learnmore__btn {
  background: #FD7400;
  background-image: -webkit-linear-gradient(top, #FD7400, #CC6633);
  background-image: -moz-linear-gradient(top, #FD7400, #CC6633);
  background-image: -ms-linear-gradient(top, #FD7400, #CC6633);
  background-image: -o-linear-gradient(top, #FD7400, #CC6633);
  background-image: linear-gradient(to bottom, #FD7400, #CC6633);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.learnmore__btn:hover {
  background: #fd9033;
  background-image: -webkit-linear-gradient(top, #fd9033, #FD7400);
  background-image: -moz-linear-gradient(top, #fd9033, #FD7400);
  background-image: -ms-linear-gradient(top, #fd9033, #FD7400);
  background-image: -o-linear-gradient(top, #fd9033, #FD7400);
  background-image: linear-gradient(to bottom, #fd9033, #FD7400);
  text-decoration: none;
}

#metadata_timestamp {
  margin: 0px 10px 0px 0px;
  text-align: center;
}

/**
 * Simple fade transition for magnific-popup,
 */
.mfp-fade.mfp-bg {
    opacity: 0.001; /* Chrome opacity transition bug */
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
#newer, #older {
    cursor: pointer;
}

/**
 * white search box from http://www.bloggermint.com/demos/css3searchbox/
 */
.search-wrapper {
   text-align: center;
}
#search-box {
   height: 28px;
   padding: 0px 0px 40px 0px;
}

#search-box #search {
}

#search-box #search input[type="text"] {
    background: url(/assets/images/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search-box #search input[type="text"]:focus {
    width: 200px;
}

  /*the following css taken from http://legobot.uk/ */
#search-result {
    width: 500px;
    margin: auto;
}
#search-results p {
      font-size: 10px;
      font-size: 1rem;
      margin: 10px 0;
}
#search-results a {
      background: #dddddd;
      color: #444444;
      display: block;
      padding: 10px;
      margin: 0 auto 10px;
      opacity: 0.8;
      text-decoration: none;
      width: 70%;
}
#search-results a h2 {
        font-size: 2.0rem;
        margin: 0 0 5px;
}
#search-results a h4 {
        font-size: 1.2rem;
        margin: 10px 0 0;
}
#search-results a:hover {
        background: #157dfb;
        color: white;
        opacity: 1;
}
#search-results a:nth-child(even) {
        background: #eeeeee;
}
#search-results a:nth-child(even):hover {
          background: #157dfb;
          color: white;
}

/*-------------------------------
 additional icons from fontawesome
-------------------------------*/

.social__icon__fa {
	display: inline-block;
	height: 25px;
	overflow: hidden;
    text-align: left;
	width: 24px;
	color: #ccc;
	font-size: 25px;
	line-height: 25px;
    }
.social__icon__fa:hover {
	   color: #4082e2;
    }

.social__icon--fa--git:before { content: 'g'; } 